{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<title>Log In</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="{% static '/images/logo.jpg' %}"/>
<link rel="stylesheet" type="text/css" href="{% static '/css/style1.css' %}">
</head>
<body>

<!------------------------------------navbar start--------------------------->
<div class="container">
    <nav>
      <div class="nav-links">
          <ul>
          <li><a href="{% url 'finder-home' %}">HOME</a></li>
          <li><a href="{% url 'finder-majors' %}">MAJORS</a></li>
          <li><a href="{% url 'finder-institutions' %}">INSTITUTIONS</a></li>
          <li><a  href="{% url 'finder-merit' %}">MERIT CALCULATOR</a></li>
         
          {% if user.is_authenticated %}
             <li><a href="{% url 'logout' %}">LOGOUT</a></li>
          {% else %}
             <li><a href="{% url 'register' %}">REGISTER</a></li>
             <li><a class="active" href="{% url 'login' %}">LOGIN<span class="sr-only">(current)</span></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
</div>
<!------------------------------------navbar end--------------------------->

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend  style="padding-top: 20px;" class="border-bottom mb-4">Log In</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login </button>
            </div>
       
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
        <br>
    </form>
    </div>


</body>
</html>