{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>REGISTER</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/mains.css' %}">
</head>
<body>


<div class="cont">

<form action="logindb.php" method="post">
    {% csrf_token %}

    <div class="form sign-in">
      <h2>Sign In</h2>
      <label>
        <span>Email Address</span>
        <input type="email" name="email">
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password">
      </label>
      <td><input type="submit" value="Submit" name="submit"></td>
      <p class="forgot-pass">Forgot Password ?</p>

      <div class="social-media">
        <ul>
          <li><img src="{% static '/images/facebook.png' %}"></li>
          <li><img src="{% static '/images/twitter.png' %}"></li>
          <li><img src="{% static '/images/linkedin.png' %}"></li>
          <li><img src="{% static '/images/instagram.png' %}"></li>
        </ul>
      </div>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>Fill in the blocks to sign in!</p>
        </div>
           
        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>
      </div>
      <div class="form sign-up">
        <h2>Sign Up</h2>
          <label></label>
          </form>
            <form action="database.php" method="POST">
  <table>
   <tr>
    <td>Name :</td>
    <td><input type="text" name="username" required></td>
   </tr>
   <tr>
    <td>Password :</td>
    <td><input type="password" name="password" required></td>
   </tr>
 
   <tr>
    <td>Email :</td>
    <td><input type="email" name="email" required></td>
   </tr> 
   <tr>
    <td>Phone no :</td>
    <td>
     <input type="phone" name="phone" required>
    </td>
   </tr>
   <tr>
    <td><input type="submit" value="Submit" name="submit"></td>
   </tr>
  </table>
 </form>
    </div>
    </div>
  </div>
     
</form>
</body>
<script src="{% static '/js/app.js' %}"></script>
</html>